.call-button
  border-radius: 20px
  background-color: transparent
  font-weight: bold
  color: white
  border-color: #e6a802
  border-width: 1px

.call-button:hover
  background-color: #e6a802
  color: #E4C8BC
  transition-duration: 1s

.fa-nav-icon
  padding-left: 10px
  color: white

.fa-nav-icon:hover
  color: #E4C8BC
  transition-duration: 1s

.float-right
  float: right
  width: 25%
  text-align: right

.navbar
  vertical-align: top
  width: 100%

.navbar-callnow
  font-weight: bold

.nav-home
  color: white
  font-weight: bolder
  font-size: 23px

.nav-home:hover
  text-shadow: 0 0 3px black, 0 0 5px black
  transition-duration: 1s

.nav-left
  width: 50%

.navbar-nav > li > .dropdown-menu 
  background-color: transparent 

.navbar-nav > li > .dropdown-menu a:hover
  background-color: transparent 
  text-decoration: none
  
.nav-text 
  font-size: 15px
  font-weight: bolder
  padding-left: 10px
  padding-top: 10px
  color: white

.nav-text:hover
  color: #E4C8BC
  transition-duration: 1s
  text-shadow: 0 0 3px black, 0 0 5px black

.td-none
  text-decoration: none
