<div *ngIf="footer.visible">
    <div class="background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h2 class="bold center">Bridgetown</h2>
                    <hr class="dash">
                    <p class="center loc-text">Highway 7</p>
                    <p class="center loc-text">The Boardwalk Main Road</p>
                    <p class="center loc-text">info@resturant.com</p>
                    <p class="center num-text">+1(246) 810-1214</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h2 class="bold center">Speightstown</h2>
                    <hr class="dash">
                    <p class="center loc-text">St Gardens</p>
                    <p class="center loc-text">#4 Church</p>
                    <p class="center loc-text">info@resturant.com</p>
                    <p class="center num-text">+1(246) 810-1214</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h2 class="bold center">Stay Connected</h2>
                    <hr class="dash">
                    <div class="row justify-content-center stay-con-row">
                        <div class="col-sm-1">
                            <a href="https://www.instagram.com" class="fa-button"><i
                                    class="fa fa-instagram fa-nav-icon"></i></a>
                        </div>
                    </div>
                    <div class="row justify-content-center stay-con-row">
                        <div class="col-sm-1">
                            <a href="https://www.instagram.com" class="fa-button"><i
                                    class="fa fa-twitter fa-nav-icon"></i></a>
                        </div>
                    </div>
                    <div class="row justify-content-center stay-con-row">
                        <div class="col-sm-1">
                            <a href="https://www.instagram.com" class="fa-button"><i
                                    class="fa fa-facebook fa-nav-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>