<div class="head-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 offset-5">
                <h1 class="golden-yellow main-text">CONTACT US</h1>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <form action="mailto:zacx122@gmail.com" method="get" enctype="text/plain">
        <p>Name: <input type="text" name="name" /></p>
        <p>Email: <input type="text" name="email" /></p>
        <p>Comments:
            <br />
            <textarea name="comments" rows="12" cols="35">Send your comments to the website.</textarea>
            <br>
            <p>
                <input type="submit" name="submit" value="Send" />
                <input type="reset" name="reset" value="Clear Form" />
            </p>
    </form>
</div>