<div class="menu-head">
    <div class="container">
        <div class="row">
            <div class="col-1 offset-5">
                <h1 class="golden-yellow main-text">Menu</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div *ngFor="let foodtype of foodTypes" class="col-2 padding-0">
            <div [ngClass]="{'selected': foodtype.FoodTypeId === this.selected}" class="border-box" (click)="setSelectedType(foodtype.FoodTypeId)">
                <p>{{foodtype.FoodTypeName}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div *ngFor="let food of foods | slice: 0:6; let i = FoodId" class="col-6 padding-0">
            <div class="row desert" [ngStyle]="{'background-image': 'url(' + food.ImgUrl + ')'}">
                <div class="col-6 padding-0">
                    <h1 class="menu-header-text">{{food.FoodName}}</h1>
                </div>
                <div class="col-6 padding-0">
                    <button class="button" (click)="setSelectedType(food.FoodId)">Test</button>
                </div>
            </div>
        </div>
    </div>
</div>