<div class="menu-head">
    <div class="container">
        <div class="row">
            <div class="col-1 offset-5">
                <h1 class="golden-yellow main-text">Menu</h1>
            </div>
        </div>
    </div>
</div>

<div class="grid-right pizza">
    <div class="container">
        <div class="row sub-row-inner">
            <div class="col-1 offset-5">
                <h1 class="menu-header-text">Pizza</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <a routerLink="#"><button class="button">Test</button></a>
            </div>
        </div>
    </div>
</div>

<div class="grid-left pasta">
    <div class="container">
        <div class="row sub-row-inner">
            <div class="col-1 offset-5">
                <h1 class="menu-header-text">Pasta</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <a routerLink="#"><button class="button">Test</button></a>
            </div>
        </div>
    </div>
</div>

<div class="grid-right salad">
    <div class="container">
        <div class="row sub-row-inner">
            <div class="col-1 offset-5">
                <h1 class="menu-header-text">Salad</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <a routerLink="#"><button class="button">Test</button></a>
            </div>
        </div>
    </div>
</div>

<div class="grid-left desert">
    <div class="container">
        <div class="row sub-row-inner">
            <div class="col-1 offset-5">
                <h1 class="menu-header-text">Desert</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <a routerLink="#"><button class="button">Test</button></a>
            </div>
        </div>
    </div>
</div>

<div class="drink">
    <div class="container">
        <div class="row sub-row-inner-d">
            <div class="col-1 offset-5">
                <h1 class="menu-header-text">Drinks</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1 offset-5">
                <a routerLink="#"><button class="button">Test</button></a>
            </div>
        </div>
    </div>
</div>