/* Coolors Exported Palette - coolors.co/020207-ccc9a1-f0ffce-a53f2b-4c230a */

/* HSL */
$color1: hsla(240%, 56%, 2%, 1);
$color2: hsla(56%, 30%, 72%, 1);
$color3: hsla(78%, 100%, 90%, 1);
$color4: hsla(10%, 59%, 41%, 1);
$color5: hsla(23%, 77%, 17%, 1);

/* RGB */
$color1: rgba(2, 2, 7, 1);
$color2: rgba(204, 201, 161, 1);
$color3: rgba(240, 255, 206, 1);
$color4: rgba(165, 63, 43, 1);
$color5: rgba(76, 35, 10, 1);