/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap')


/* Font Style */

.imFellGreatPrimet-font 
    font-family: 'IM Fell Great Primer', serif
    

.berkshire-swash
    font-family: 'Berkshire Swash', cursive

/* Font Colors */

.golden-yellow 
    color: #e6a802
    text-shadow: 0 0 3px black, 0 0 5px black
    
.color-1
    color: #4e3321
.color-2
    color: #643d11
.color-3
    color: #252524
.color-4
    color: #af8964
.color-5
    color: #91846e