<section>
    <div class="background">
        <div class="container">
            <div class="row justify-content-center row-1">
                <h5 class="arial-font heading-top white"><b>BEST IN TOWN</b></h5>
            </div>
            <div class="row justify-content-center">
                <h1 class="pacifico-font golden-yellow">Fresh Pizza</h1>
            </div>
            <div class="row justify-content-center row-3">
                <h5><a routerLink="menu" class="primary-btn btn-text"><b>SEE TODAYS MENU</b></a></h5>
            </div>
        </div>
    </div>
</section>