h1
	font-size: 100px
	margin-bottom: 15px
	margin-top: 30px
	
.background
	background-image:  linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url("../../assets/images/index-bg-1.jpg")
	background-size: cover
	background-repeat: no-repeat
	height: 100vh

.primary-btn
	width: 200px
	height: 50px
	color: white
	border-bottom-left-radius: 5px 
	border-bottom-right-radius: 5px 
	border: 1px solid white
	border-top: 0

.primary-btn:hover
	background: #A4B3B8
	transition-duration: 1s

.btn-text
	padding-bottom: 5px
	padding-left: 25px !important
	padding-right: 25px !important
	padding-top: 5px

.heading-top
	font-size: 50px
	padding-top: 15%

.heading-img
	height: auto
	width: 75px
	margin-bottom: 20px

.row-1
	padding-top: 15%

.row-3
	padding-top: 5%

.white
	color: white

.white-shadow
	color: white
	text-shadow: 0 0 3px black, 0 0 5px black