<section>
    <div class="background">
        <div class="container">
            <div class="row justify-content-center heading-top">
                <h1 class="berkshire-swash color-6">THE</h1>
            </div>
            <div class="row justify-content-center">
                <h1 class="berkshire-swash color-6">PIZZA SHACK</h1>
            </div>
            <div class="row justify-content-center row-3">
                <h5><a routerLink="menu" class="primary-btn btn-text"><b>SEE TODAYS MENU</b></a></h5>
            </div>
        </div>
    </div>
</section>